* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #b4a3af;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22rem;
    height: 22rem;
    background-color: #3f173d;
    border-radius: 3rem;
}

input {
    background: none;
    background-color: #815d6b;
    width: 15rem;
    height: 3rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 8px;
    outline: none;
    text-indent: 1.3rem;
    color: white;

}

::placeholder{
    color: rgb(205, 200, 200);
}

a {
    background: none;
    text-decoration: none;
}

#forgotPassword {
    color: rgb(205, 200, 200);
    position: relative;
    left: -22%;
    text-decoration: none;
    margin-bottom: 1rem;
    float: right;
    font-size: 11px;
}

.buttons {
    background-color: transparent;
    width: inherit;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

button {
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #815d6b;
    color: rgb(205, 200, 200);
    position: relative;
    /* top: 20%; */
    font-size: 12px;
}

.register:hover,
.login:hover {
    width: 5.5rem;
    height: 3.5rem;
    cursor: pointer;
    font-weight: bold;
}

#forgotPassword:hover {
    text-decoration-line: underline;
    font-weight: bolder;
}



/* #3f173d bg color
   #815d6b input box color , button color*/